<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="mainEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\User\source\repos\FootballStats\StatsDB.db&quot;" providerName="System.Data.EntityClient" />
    <add name="mainEntities1" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\User\source\repos\FootballStats\StatsDB.db&quot;" providerName="System.Data.EntityClient" />
    <add name="mainEntities" connectionString="metadata=res://*/StatsDB.StatsDB.csdl|res://*/StatsDB.StatsDB.ssdl|res://*/StatsDB.StatsDB.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\User\source\repos\FootballStats\StatsUI\sqliteDB\StatsDB.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <StatsUI.Properties.Settings>
      <setting name="ConnString" serializeAs="String">
        <value>data source=C:\Users\User\source\repos\FootballStats\StatsUI\sqliteDB\StatsDB.db</value>
      </setting>
    </StatsUI.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <StatsUI.Properties.Settings>
      <setting name="XMLfolder" serializeAs="String">
        <value>C:\Users\User\Google Drive\!Studies\Year1\Programming\PD2\XMLFirstRound</value>
      </setting>
    </StatsUI.Properties.Settings>
  </userSettings>
</configuration>